:root{
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-light: 300;
  --fw-regular: 500;
  --fw-heavy: 700;

  --fs-misc-text: 1rem;
  --fs-heading: 2rem;
  --fs-content-text: 1.3rem;


  --clr-light:#414a4c;
  --clr-light-alt: #353839;
  --clr-dark: #FFFFF0;



}
html{
  width: 100vw;
}
body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Header styles */
.header {
  background-color: var(--clr-light-alt);
  min-height: 175px;
  font-size: var(--fs-heading);
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand,  .connect-button{
  margin: 0;
}

  
.connect-button{
  width: fit-content;
  height: fit-content;
  font-size: var(--fs-misc-text);
  padding: 0.3rem;
  margin-top: 1.5rem;
}

/* Content styles */

.content-wrapper{
  padding: 1rem calc(3rem + 5%);
  font-size: var(--fs-content-text);
}

.mint-button-wrapper{
display: flex;
align-items: center;
justify-content: center;
}

.mint-button{
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
}


@media screen and (min-width:590px){
  .header{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .brand{
    margin-left: calc(1.5rem + 5%);
    margin-right: auto;
  }
  
  .button-wrapper{
    margin-right: calc(1.5rem + 5%);
  }
  .connect-button{
    margin-left: auto;
    margin-top: 0;
  }
}

@media screen and (max-width:385px) {
  .brand{
    font-size: calc(var(--fs-heading) - 5%);
  }
  
}